.Card {
    padding: 0px 60px;

    @media(max-width: 1000px) {
        padding: 0px 30px;
    }

    @media(max-width: 500px) {
        padding: 0px 10px;
    }

    iframe {
        border-radius: 40px;

        @media(max-width: 1000px) {
            height: 400px;
            border-radius: 25px;
        }

        @media(max-width: 700px) {
            border-radius: 20px;
            height: 300px;
        }

        @media(max-width: 700px) {
            height: 200px;
        }
    }
}