.centerLogo {
    display: flex;
    height: 90%;
    background-color: #373737;
    border-radius: 25px;
    padding: 3px 15px;

    .ANN {
        height: 100%;
        display: flex;
        align-items: center;

        h1 {
            font-weight: 900;
            font-size: 1.4em;
            padding-right: 15px;
            border-right: 6px solid #fd00ad;
            height: 1.4em;
            color: #fff;
        }
    }

    h2 {
        font-weight: 650;
        font-size: 1.1em;
        padding-left: 15px;
        height: 1em;
        display: flex;
        align-items: center;
        height: 100%;
        color: #fff;
    }
}