.centerLogo {
    display: flex;
    height: 100%;
    border-radius: 60px;
    padding: 5px 60px;

    @media (max-width: 1850px ) {
        padding: 3px 40px;
    }

    @media (max-width: 1550px) {
        padding: 3px 30px;
    }

    @media (max-width: 1250px) {
        padding: 3px 15px;
    }

    .ANN {
        height: 100%;
        display: flex;
        align-items: center;

        h1 {
            font-weight: 900;
            font-size: 30px;
            padding-right: 15px;
            border-right: 6px solid #fd00ad;
            height: 1.6em;
            color: #fff;

            @media (max-width: 2500px) {
                font-size: 26px;
            }
            
            @media (max-width: 2250px) {
                font-size: 22px;
            }

            @media (max-width: 2250px) {
                font-size: 22px;
            }

            @media (max-width: 1850px) {
                font-size: 18px;
                border-right: 4px solid #fd00ad;
            }

            @media (max-width: 1550px) {
                font-size: 14px;
                border-right: 2px solid #fd00ad;
            }

            @media(max-width: 1250px) {
                font-size: 12px;
            }

            @media (max-width: 900px) {
                font-size: 14px;
            }
        }
    }

    .Academy {
        display: flex;
        flex-direction: column;
        h2 {
        font-weight: 650;
        font-size: 26px;
        padding-left: 15px;
        display: flex;
        align-items: center;
        height: 100%;
        color: #fff;

        @media (max-width: 2500px) {
            font-size: 20px;
        }

        @media (max-width: 2250px) {
            font-size: 18px;
        }

        @media (max-width: 1850px) {
            font-size: 16px;
        }

        @media (max-width: 1550px) {
            font-size: 10px;
        }

        @media (max-width: 1250px) {
            font-size: 8px;
        }

        @media (max-width: 900px) {
            font-size: 10px;
        }
    }
    }
}