.Stocks {
    height: 850px;
    position: relative;
    margin-bottom: 80px;
    .StocksText {
        height: 600px;
        display: flex;
        position: relative;
        justify-content: center;

        .imgLeft {
            object-fit: cover;
            object-position: right;
            width: 270px;
            top: 0px;
            height: 550px;
            position: absolute;
            left: 0px;
        }

        .Text {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            h1 {
                font-size: 48px;
                font-weight: 700;
                margin-bottom: 20px;
            }

            h2 {
                font-size: 60px;
                font-weight: 500;
                color: #fd00ad;
                margin-bottom: 60px;
            }

            p {
                font-size: 16px;
                text-transform: uppercase;
                font-weight: 450;
            }

            h3 {
                font-size: 28px;
                font-weight: 600;
            }
        }

        .imgRight {
            object-fit: cover;
            width: 280px;
            object-position: left;
            top: 0px;
            height: 600px;
            position: absolute;
            right: 0px;
        }
    }

    .stocksSpisok {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        gap: 15px;
        justify-content: center;
        position: absolute;
        bottom: 0px;

        .eyebrowPlus,
        .eyelashes,
        .unibrow {
            height: 370px;
            // background-color: #fd00ad;
            width: 30%;
            border-radius: 16px;
            display: flex;
            flex-direction: column;
            justify-content: end;
            border: 2px solid #fd00ad;
            position: relative;
            overflow: hidden;
            z-index: 1;

            img {
                width: 100%;
                position: absolute;
                top: -20px;
                object-fit: cover;
                height: 180px;
                z-index: 0;
                border-radius: 12px;
            }

            .eyebrowText, .eyelashesText, .unibrowText {
                padding: 0px 15px;

                h4 {
                    font-size: 14px;
                    font-weight: 700;
                }

                h2 {
                    font-size: 20px;
                    font-weight: 700;
                }

                h3 {
                    font-size: 18px;
                    font-weight: 600;
                    color: #fd00ad;

                    span {
                        color: #000;
                        text-decoration: line-through;
                    }
                }

                ul {
                    column-count: 2;

                    li {
                        // list-style-type: '+' !important;
                        border: 1px solid #fd00ad;
                        border-radius: 6px;
                        margin-bottom: 10px;
                    }
                }


            }

            &:hover {
                background-color: #fd00ad;

                h3 {
                    color: #fff;
                }

                li {
                    color: #fff;
                }

            }
        }
    }
}