.Fotter {
    margin: 40px 60px 20px 60px;
    background-color: #373737;
    padding: 40px;
    border-radius: 40px;
    height: 300px;

    @media(max-width: 1950px) {
        height: 250px;
    }

    @media(max-width: 1550px) {
        height: 220px;
        padding: 30px;
    }

    @media(max-width: 1250px) {
        height: 180px;
        padding: 20px;
    }

    @media(max-width: 1000px) {
        margin: 10px 30px;
        border-radius: 25px;
    }

    @media(max-width: 700px) {
        height: 120px;
        border-radius: 20px;
    }

    @media(max-width: 500px) {
        margin: 10px;
    }

    .fotterTop {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 2px solid #fff;
        padding-bottom: 20px;

        @media(max-width: 1550px) {
            padding-bottom: 10px;
        }

        .Online {
            display: flex;
            flex-direction: column;
            align-items: center;

            p {
                color: #fff;
                font-size: 24px;
                margin-bottom: 15px;

                @media(max-width: 1950px) {
                    font-size: 18px;
                }

                @media(max-width: 1550px) {
                    font-size: 16px;
                }

                @media(max-width: 1250px) {
                    font-size: 12px;
                }

                @media(max-width: 700px) {
                    font-size: 8px;
                }
            }

            .link {
                display: flex;
                gap: 30px;

                @media(max-width: 700px) {
                    gap: 15px;
                    height: 30px;
                }

                @media(max-width: 700px) {
                    gap: 7px;
                }

                button, p {
                    color: #fff;
                    border: 2px solid #fd00ad;
                    border-radius: 24px;
                    font-size: 32px;
                    height: 70px;
                    padding: 10px 35px;

                    @media(max-width: 1950px) {
                        font-size: 26px;
                        height: 60px;
                        border-radius: 30px;
                    }

                    @media(max-width: 1550px) {
                        font-size: 20px;
                        height: 50px;
                    }

                    @media(max-width: 1250px) {
                        font-size: 14px;
                        height: 40px;
                    }

                    @media(max-width: 700px) {
                        font-size: 10px;
                        height: 30px;
                        display: flex;
                        align-items: center;
                        padding: 5px 15px;
                    }

                    @media(max-width: 500px) {
                        font-size: 6px;
                        height: 24px;
                        padding: 5px 10px;
                    }
                }
            }
        }
    }

    .fotterBottom {
        display: flex;
        padding-top: 20px;
        color:#fff;

        @media(max-width: 1250px) {
            padding-top: 10px;
            font-size: 14px;
        }

        @media(max-width: 700px) {
            font-size: 10px;
        }
    }
}